* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font {
    font-family: "Inter", sans-serif;
    font-style: normal;
    background-color: #FFFFFF;
}

/* Common Classes Here */

.btn {
    color: #FFFFFF;
    background-color: #469165;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 10px 20px -12px #0000001A;
}

/* Main Classes Here */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;

}

.nav-links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    gap: 32px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}


background-color: red;