* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font {
    font-family: "Inter", sans-serif;
    font-style: normal;
    background-color: #FFFFFF;
}

/* Common Classes Here */

.container {
    margin: auto;
    max-width: 1360px;
}

.btn {
    color: #FFFFFF;
    background-color: #469165;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 10px 20px -12px #0000001A;
}

.hero-btn {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.arrow {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Main Classes Here */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

.nav-links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    gap: 32px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}


/* Hero Section Here */

.hero {
    background-image: url(assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 115px 120px 134px;
    height: 674px;
    align-items: center;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.container h1 {
    color: #FFFFFF;
    font-size: 72px;
    line-height: 84px;
}

.container p {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    max-width: 50%;
}

.green {
    color: #30B868;
    display: block;
}

.early-access {
    background-color: #FFFFFF;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 28px;
    padding: 8px 12px;
}

.gap-early {
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
}

.trans-btn {
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #FFFFFF;
}

.hero button {
    padding: 16px;
}