* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font {
    font-family: "Inter", sans-serif;
    font-style: normal;
    background-color: #FFFFFF;
}

/* Common Classes Here */
.container {
    margin: auto;
    max-width: 1360px;
}

.small,
p,
h4,
{
color: #627382;
font-size: 16px;
line-height: 20px;
}

h2 {
    color: #001931;
    font-size: 48px;
    font-weight: bold;
}

.btn {
    color: #FFFFFF;
    background-color: #469165;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 10px 20px -12px #0000001A;
}

.hero-btn {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
}

.arrow {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Main Classes Here */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    gap: 32px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}

/* Hero Section Here */

.hero {
    width: 100%;
    background-image: url(assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 115px 120px 134px;
    height: 674px;
    align-items: center;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.hero-container h1 {
    color: #FFFFFF;
    font-size: 72px;
    line-height: 84px;
    margin: 16px 0;
}

.hero-container p {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    text-align: center;

    max-width: 55%;
}

.green {
    color: #30B868;
    display: block;
}

.early-access {
    background-color: #FFFFFF;
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 28px;
    padding: 8px 12px;
}

.gap-early {
    display: flex;
    gap: 6px;
    justify-content: center;
    align-items: center;
}

.trans-btn {
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #FFFFFF;
}

.hero button {
    padding: 16px;
}

/* Card Section Here */

.fails-container {
    margin-bottom: 120px;
}

.fails-container h2,
.fails-container .small {
    text-align: center;
}

.fails-container h2 {
    margin: 50px 0 15px;
}

.card-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-top: 44px;

}

.card p {
    text-align: center;

}

.circle {
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 69.5px 24px;
    box-shadow: 0 0 8px 0 #0000000F;
    justify-content: space-between;
    height: 300px;
}

.card h3 {
    font-size: 24px;
    color: #001931;
    font-weight: 500;
    text-align: center;
}

/* Brain here  */

.brain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-bottom: 120px;

}

h4 {
    color: #469165;
    font-weight: 500;
}

.check {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
}

.grpcheck {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 40px;
}

.second-brain {
    margin: 16px 0;
}

.check p {
    color: #001931;
    font-weight: 500;
}

.brain-design {
    display: block;

}

.para-width {
    width: 70%;
}

.get-access {
    background-color: #F7F6F2;
    text-align: center;
    padding: 80px 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 120px;
}

.get-access .bt {
    margin-top: 8px;
}

.get-access-title {
    font-size: 40px;
}

footer {
    background-color: #001931;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding: 120px 0 30px;
}

.social-image {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    text-align: center;
    margin-top: 16px;
}

.social-media {
    padding-right: 107px;
}

.copyright {
    color: #FAFAFA;
    line-height: 24px;
    padding: 30px 0;
    text-align: center;
}

hr {
    border: none;
    height: 1px;
    background-color: #616161;
}

/* Hover effect */
.btn:hover,
.trans-btn:hover {
    background-color: #114f2b;
    color: #FFFFFF;
    transform: scale(1.03);
    transition: transform .3s ease-in;
}

.trans-btn:hover {
    border: none;
}